# Node modules
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs
*.log
logs/
debug.log
npm-debug.log
yarn-debug.log
yarn-error.log
pm2.log

# Binaries
dist/
build/

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# OS files
Thumbs.db
